<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mn.frd.alfrd-imgur</string>
	<key>connections</key>
	<dict>
		<key>194CBE47-61F7-4142-A1F9-19FAFE1FB513</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F37DEF5-C874-457F-9E17-64E6EDA8732C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F37DEF5-C874-457F-9E17-64E6EDA8732C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC02C346-0966-4391-AEF6-D8530291EA60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC02C346-0966-4391-AEF6-D8530291EA60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3DA6D14-4D3E-4E9E-9EDD-E57B2CB10F87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3DA6D14-4D3E-4E9E-9EDD-E57B2CB10F87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBDA7D5D-1594-48A2-AC4C-4766E5ABF162</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jonas Friedmann</string>
	<key>description</key>
	<string>Upload the currently selected file in your Finder to Imgur</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Imgur Uploader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>imgur</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Imgur Uploader</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>194CBE47-61F7-4142-A1F9-19FAFE1FB513</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Finder"
	set someSource to selection as alias list
	if someSource = {} then
		return "errorNoSelection"
	end if
	set theFile to item 1 of someSource as alias
    set thePath to (POSIX path of theFile)
	set theFileInfo to info for theFile
end tell

if folder of theFileInfo then
	return "errorFolder"
end if

thePath</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F37DEF5-C874-457F-9E17-64E6EDA8732C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>BC02C346-0966-4391-AEF6-D8530291EA60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3DA6D14-4D3E-4E9E-9EDD-E57B2CB10F87</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Imgur Uploader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BBDA7D5D-1594-48A2-AC4C-4766E5ABF162</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>194CBE47-61F7-4142-A1F9-19FAFE1FB513</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>5F37DEF5-C874-457F-9E17-64E6EDA8732C</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>BBDA7D5D-1594-48A2-AC4C-4766E5ABF162</key>
		<dict>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>BC02C346-0966-4391-AEF6-D8530291EA60</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>F3DA6D14-4D3E-4E9E-9EDD-E57B2CB10F87</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/frdmn/alfred-imgur#readme</string>
</dict>
</plist>
